<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>{{title}}</h1>
    <p>Welcome, Choose your Movie!</p>
    <form>
      <input type="text" name="title" placeholder="Enter movie title" />
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>

    <div class="result">

    </div>
    <script src="/app.js"></script>
  </body>
</html>